In [22]:
import numpy as np
import pandas as pd

In [23]:
def get_sums(roll):
    return {roll[i] + roll[j] for i in range(3) for j in range(i + 1, 4)}

In [24]:
def prob_continue(sums, climb_nums):
    return sums.apply(lambda s: not s.isdisjoint(climb_nums)).mean()

In [25]:
def col_length(num):
    return 13 - 2*abs(num - 7)

In [26]:
sample_size = 1000000

In [27]:
rng = np.random.default_rng()

In [28]:
rolls = pd.DataFrame(
    data=rng.integers(low=1, high=7, size=(sample_size, 4)),
    columns=[f'die{idx}' for idx in range(1, 5)],
)

In [29]:
rolls['sums'] = rolls.apply(func=get_sums, axis=1, raw=True)

In [30]:
rolls.sample(5)

        die1  die2  die3  die4                sums
579776     1     6     3     6       {9, 4, 12, 7}
703041     5     4     3     1  {4, 5, 6, 7, 8, 9}
758157     1     1     3     5        {8, 2, 4, 6}
969087     5     6     2     6      {8, 11, 12, 7}
750096     2     6     2     2              {8, 4}

In [40]:
prob_continue(rolls['sums'], {5, 6, 9})

0.866839

Single column probabilities:

In [33]:
for i in range(2, 13):
    print(i, '\t', prob_continue(rolls['sums'], {i}), '\t', col_length(i) / prob_continue(rolls['sums'], {i}), sep='')

2	0.132215	22.69031501720682
3	0.233622	21.40209398087509
4	0.356173	19.653370693455145
5	0.447131	20.128329281575198
6	0.561651	19.585116024007792
7	0.64337	20.20610224287735
8	0.561245	19.59928373526713
9	0.447276	20.121803986800096
10	0.355654	19.68205053225888
11	0.233818	21.38415348690007
12	0.132163	22.699242601938515

Full list of probabilities:

In [ ]:
for i in range(2, 11):
    for j in range(i + 1, 12):
        for k in range(j + 1, 13):
            print((i, j, k), '\t', prob_continue(rolls['sums'], {i, j, k}), sep='')